.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vista_clima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 2px solid green;
}

.container-fluid{
    height: 10vh;
    display: flex;
    justify-content: center;
}


/* Footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.columnas {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.columna {
    flex: 1;
    padding: 10px;
}

/* Estilos adicionales para mejor apariencia */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}